$containerWidth: 480px;
$container2Width: 640px;

body {
  div.container {
    margin: 0 auto;
    text-align: center;

    h1 {
      -webkit-margin-after: 0;
    }

    label {
      cursor: pointer;
    }

    canvas {
      margin-bottom: 20px;
    }
  }

  div.infoPanels {
    position: relative;
    margin-bottom: 10px;

    #geoPanel {
      background-color: #fff;
      padding: 5px;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 25px;
    }
  }
}

@media screen and (min-width: 480px) {
  body {
    div.container {
      max-width: $containerWidth;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  body {
    div.container {
      max-width: $container2Width;
    }
  }
}
