body {
  margin: 1px;

  div.container {
    margin: 0 auto;
    text-align: center;
  }
}

#geoPanel {
  display: inline-block;
  position: relative;
  width: 100%;
  word-wrap: normal;
  background: transparent;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto','sans-serif';
}
